<div id="root" asp-prerender-module="ClientApp/dist/main-server"></div>
<script src="~/dist/vendor.js" asp-append-version="true"></script>
<script src="~/dist/app.js" asp-append-version="true"></script>